/*
    Author Leandro.Zambelli@yahoo.com
 */


@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

body { font-family: 'Quicksand', sans-serif; overflow-x: hidden !important }


/* =BOOTSTRAP RESET
 */

nav { font-family: sans-serif; transition: all ease 0.5s }

.navbar-nav { padding-top: 30px; padding-bottom: 30px}

.navbar-dark .navbar-nav .nav-link { color: #fff; font-size: 0.95em; font-family: 'Quicksand', sans-serif;  }
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus { color: rgba(255,255,255,0.4)}
.navbar-dark .navbar-toggler { background-color: hsl(243 49% 37%); border-color: hsl(243 49% 37%) }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse div { padding-left: 10px }

    @media (max-width:991px){

        .nav-item:first-child { margin-top: 10px}
        .nav-item:last-child { margin-bottom: 0 }
        .nav-item { border-bottom: 1px dotted rgba(255,255,255,0.2); }
        .nav-link { padding: 14px }
        .navbar-collapse div { padding-left: 0 }
        .navbar-collapse .btn { display: block; width: 100%; margin-bottom: 14px }

    }

.btn { padding:15px 50px 16px 50px; font-family: sans-serif;  }
.btn-sm, .btn-group-sm > .btn { padding: 9px 35px 10px 35px; font-size: 0.875rem; }

.btn-primary{background-color: hsl(243 49% 37%); border-color: hsl(243 49% 37%)}
.btn-primary:hover{background-color: hsl(243 49% 30%); border-color: hsl(243 49% 30%)}
.btn-primary:focus, .btn-primary.focus{background-color: hsl(243 49% 30%); border-color: hsl(243 49% 47%)}
.btn-primary:active, .btn-primary.active{background-color: hsl(243 49% 30%); border-color: hsl(243 49% 47%)}

.rounded { border-radius: 10px !important}


/* =ANIMATION
*/

.animated { animation-duration: 1s; animation-fill-mode: both; }
.fadeIn { animation-name: fadeIn; }
.fadeInUp { animation-name: fadeInUp; }


    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
      }

      to {
        opacity: 1;
        transform: none;
      }
    }


/* =CLASSES
 */

.banner-img { z-index: 2; top: -80px; }
.header-img { z-index: 2; top: 0; }
.footer-img { z-index: 2; top: -100px; right: 0 }

    @media (max-width:991px){
        .banner-img { z-index: 2; top: -20px; }
    }

.maps { border-radius: 10px; width: 88%; height: 480px; border: 0;  }

    @media (max-width:991px){
        .maps { height: 250px}
    }

.border-shadow {box-shadow: 30px 30px 0 #4956bd }
.border-shadow-width{width: 88%}

.text-blue { color: #4956bd }
.text-shadow { text-shadow: 0 0 10px #000 }
.text-gray {color: #41484C}

.bg-gradient { background: linear-gradient(145deg, #290190 0%,#8ce7ff 100%) } /* usado nos banner */
.bg-blue { background-color: #443eb3 }
.bg-nav-overlay { background: rgba(0,0,0,0.1) }


.padding-banner { padding-top: 100px; } /* usado nos banners para dar espaçamento */
.padding-content { padding-top: 125px; padding-bottom: 125px; } /* usado para dar espaco ao conteudo */

    @media (max-width:767px){
        .padding-banner { padding-top: 100px; padding-bottom: 40px }
    }

    @media (max-width:991px){
        .padding-banner { padding-top: 80px; padding-bottom: 30px }
    }

.space { margin-top: 125px } /* cria espaco entre itens */

.relative { position: relative }
.absolute { position: absolute }

/* svg usados para decoracao das bordas das secoes contato e footer */
.svg-top { top: -2px; left: 0; width: 100% }
.svg-bottom { bottom: -7px; left: 0; width: 100% }

.back-top {
    font-size: 2em;
    position:fixed;
    bottom:0;
    right:0;
    padding:16px 25px 0px 27px;
    background:#ddd;
    color:#838383;
    border-top-left-radius:4px;
    transition: ease 0.2s
}
.back-top:hover, .back-top:focus, .back-top:active{color:#fff; text-decoration: none}
.back-top:hover{transition:all ease-in-out 0.1s; background:#290190}

.hide-me{visibility: hidden; opacity: 0} /* usado para esconder o botao de voltar ao topo */


/* =TYPOGRAPHY
 */

h1{ font-weight: 700; line-height: 1.15em}

h1, h2, h3, h4, h5, h6 { font-weight: 700 }

h1 { font-size: 2.9em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.7em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.3em; font-weight: 400;}

    @media (max-width:767px){

        h1 { font-size: 2.7em; }
        h2 { font-size: 2.2em; }
        h3 { font-size: 1.9em; }


    }

    @media (max-width:991px){

        h1 { font-size: 2.5em; }
        h2 { font-size: 2.0em; }
        h3 { font-size: 1.8em; }


    }

p { margin-top: 0; margin-bottom: 1.6em; font-size: 1.3em; line-height: 1.4em; font-weight: 400; color: #41484C }
p:last-child { margin-bottom: 0 }

a { transition: all ease 0.15s }

a[href^="tel:"], a[href^="mailto:"] { color: #ddd }
a[href^="tel:"]:hover, a[href^="mailto:"]:hover { color: #fff; text-decoration: none; }


/* =FOOTER
 */

footer { padding:70px 0; background: #999 }

footer h4 { color: #fff }
footer p{ font-size: 0.85em; color: #ddd }
footer ul { padding: 0; list-style: none }
footer a { color: #ddd;  padding-right:10px; font-size: 0.85em }
footer a:hover { color: #fff; text-decoration: none; }

.footer-bottom {clear:both; margin:0; padding:8px 0 0 0; height:38px; background:#888; font-size:0.85em; color:#eee}
