/*
    Author Leandro.Zambelli@yahoo.com
    v2.3
    2017
 */


@import url(//fonts.googleapis.com/css?family=Roboto:300|Raleway:300,600);

body { font-family: 'roboto', sans-serif; overflow-x: hidden !important }

a { transition: all ease 0.25s }

a[href^="tel:"], a[href^="mailto:"] { color: #fff }
a[href^="tel:"]:hover, a[href^="mailto:"]:hover { color: #47A3DA}


/* =BOOTSTRAP RESET
 */

nav { font-family: 'raleway', sans-serif; transition: all ease 1s }
.nav-link { font-size: 0.85em; color: #fff!important }
.nav-link:hover, .nav-link:active, .nav-link:focus { color: #47A3DA!important }

@media (max-width:767px){
    .nav-item:first-child { margin-top: 10px}
    .nav-item { border-top: 1px dashed #333; }
    .nav-link { padding: 14px }
}

.btn { border-radius: 50px; padding:15px 50px 16px 50px }
.btn-sm, .btn-group-sm > .btn { padding: 9px 50px 10px 50px; font-size: 0.875rem; border-radius: 50px }

[class*="btn-outline"] { border:2px solid }



/* =CLASSES
 */

.intro { padding: 340px 0; height: 85vh; }

@media (max-width:767px){
    .intro { padding: 250px 0 }
}

.text-light-blue { color: #47A3DA }
.bg-light-gray { background-color: #ECF0F1 }
.bg-light-blue { background: #47A3DA }

.bg-black { background-color: #000}
.bg-nav-overlay { background: rgba(0,0,0,0.7) }
.bg-overlay { background-color: rgba(0,0,0,0.4) }
.bg-mask { background-image: url(../img/bg/mask.png); }

.bg-header { background:url(../img/bg/bg-header.jpg) no-repeat top center; background-size: cover; background-attachment: fixed }
.bg-contact { background: url(../img/bg/bg-contact.jpg) no-repeat center; background-size: cover; background-attachment: fixed }

@media (max-width:767px){
    .bg-header { background-position: left; background-attachment: scroll }
    .bg-contact { background-attachment: scroll }
}

.line { height: 1px; width: 70px; margin:10px auto 85px auto }

.padding-content { padding-top: 125px; padding-bottom: 125px; }
.negative-margin { top: -40px }

.icon-lg { margin-top:40px 0; font-size:50px }

.text-shadow { text-shadow: 0 0 10px #000 }

.space { margin-top: 150px }

.relative { position: relative }

.svg-top { top: -2px; left: 0; width: 100% }
.svg-bottom { bottom: -7px; left: 0; width: 100% }


/* =TYPOGRAPHY
 */

h1, h2, h3 { font-family: 'Raleway', sans-serif; color: #41484C }

h1 { font-size: 2.9em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.7em; font-weight: 600 }

p{ margin-bottom:1.6em; font-size:1.3em; line-height: 1.6em; font-weight: 300; color: #41484C }



/* =FOOTER
 */

footer { padding:75px 0 }
footer p{ font-size: 0.85em; color: #aaa }
